:root {
  --background-color: #f2f2f2;
  --gradient-color: #fff;
  --btn-color: #02681e;
  --btn-text-color: #f2f2f2;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --navbar-bg-color: #e4e4e4;
  --title-color: #00461e;
}

[data-theme="dark"] {
  --background-color: #222;
  --gradient-color: black;
  --btn-color: #ffc600;
  --btn-text-color: #222;
  --project-card-bg: #f2f2f2;
  --text-color: #f2f2f2;
  --form-text-color: #f2f2f2;
  --footer-text-color: #bbb;
  --navbar-bg-color: rgb(25, 25, 25);
  --title-color: #ffc600;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure #root takes full width */
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
  color: var(--title-color);
}

.hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }
}

@media (min-width: 1400px) {
  #root {
    gap: 200px;
  }

  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 75px;
  }
}
